<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Testimonials | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="assets/scripts/font-awesome-5-pro.js"></script>

        
        <!-- Font Family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        
        <!-- custom -->
        <link rel="stylesheet" href="assets/styles/slick.css">
        <link rel="stylesheet" href="assets/styles/aos.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/responsive.css">  
    </head>

    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website 
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="/">
                            <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/preparing-for-your-test">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/after-your-test">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu" id='navbarpages'> </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/prices">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/testimonials">
                                     Reviews
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link active" href="/contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <div id='booking-head'>
                                </div>
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            
            <section class="contact-us-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1 text-center">
                            <span class="sub-title">
                                Contact us
                            </span>
                            <h2>
                                Get In 
                                <span class="text-skyblue">
                                    Touch
                                </span>
                            </h2>
                        </div>

                        <div class="col-xl-10 offset-xl-1">
                            <div class="contact-form-box">
                                <form action='/send-query' method="POST">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Your Name*</label>
                                            <input type="text" name="name" id="name" class="w-100 field" placeholder="Enter your name" required />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Your Email*</label>
                                            <input type="email" name="email" id="email" class="w-100 field" placeholder="Enter your email" required />
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Your Telephone*</label>
                                            <input type="tel" name="phone" id="telephone" class="w-100 field" placeholder="Enter your telephone" required />
                                        </div>
                                      
                                       
                                  
                                        <div class="col-md-6 form-group">
                                            <label>Is this a COVID-19 PCR Test* Related Query</label>
                                            <select name='covidQuery' class="w-100 field">
                                                <option value="no">NO</option>
                                                <option value="yes">YES</option>
                                            </select>
                                        </div>
                                      
                                        <div class="col-md-6 form-group">
                                            <label>Subject*</label>
                                            <input type="text" name="subject" id="subject" class="w-100 field" placeholder="Your Subject" />
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <label>Your Message</label>
                                            <textarea name="message" id="message" class="w-100 field" placeholder="Enter your message"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group checkboxes-data mb-1">
                                                <input type="checkbox" required id="acceptance" class="d-none" checked="">
                                                <label for="acceptance">
                                                    I have read and accept the Privacy Policy Terms and conditions
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <button class="btn-purple d-inline-block">
                                                SEND
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="contact-address mt-5">
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <div class="address-box mb-4">
                                            <img src="assets/images/map1.png" alt="map" class="map-img mb-4 w-100" />
                                            <h4 class="text-purple">
                                                Buncer Lane Pharmacy
                                            </h4>
                                            <p>
                                                6 Preston Old Rd, Blackburn, Lancashire, BB2 2SS
                                            </p>
                                            <a href="tel:01254933033" class="d-block mb-2 call-email">
                                                <i class="fas fa-phone-alt"></i>
                                                01254 933033
                                            </a>
                                            <a href="mailto:info@blackburntravelclinic.co.uk" class="d-block mb-2 call-email">
                                                <i class="fas fa-envelope"></i>
                                                info@blackburntravelclinic.co.uk
                                            </a>
                                            <a href="#" class="btn-purple d-inline-block mt-3">
                                                <img src="assets/images/telegram-plane.png" alt="telegram plane" />
                                                GET DIRECTION
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="address-box mb-4">
                                            <img src="assets/images/map2.png" alt="map" class="map-img mb-4 w-100" />
                                            <h4 class="text-purple">
                                                Whalley Range Pharmacy
                                            </h4>
                                            <p>
                                                61 Whalley Range,Blackburn, Lancashire, BB1 6DX
                                            </p>
                                            <a href="tel:01254933033" class="d-block mb-2 call-email">
                                                <i class="fas fa-phone-alt"></i>
                                                01254 933033
                                            </a>
                                            <a href="mailto:info@blackburntravelclinic.co.uk" class="d-block mb-2 call-email">
                                                <i class="fas fa-envelope"></i>
                                                info@blackburntravelclinic.co.uk
                                            </a>
                                            <a href="#" class="btn-purple d-inline-block mt-3">
                                                <img src="assets/images/telegram-plane.png" alt="telegram plane" />
                                                GET DIRECTION
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </section>


        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="/">
                                <img src="/assets/images/site-logo.png" alt="site-logo" class="site-logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/" class="mb-md-0 mb-3 d-block">
                            <img src="/assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo"
                                class="site-logo" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic –
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                           
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/BlackburnTravelClinic/" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                         
                            <li class="d-inline-block">
                                <a href="https://twitter.com/blackburntravel" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/preparing-for-your-test" class="d-inline-block">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/after-your-test" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/testimonials" class="d-inline-block">
                                    Reviews
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="/faq" class="d-inline-block">
                                    FAQs
                                </a>
                                </li>
                                <li class="d-block">
                                    <a href="/contact-us" class="d-inline-block">
                                        Contact us
                                    </a>
                                </li>
                        </ul>
                    </div>
                       <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Customer services
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                Monday - Friday (8am - 6.30pm)
                              
                            </li>
                            <li class="d-block">
                              
                                Saturday (9am - 6.30pm)
                            </li>
                            <li class="d-block">
                           
                                Sunday (11am - 6.30pm
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/what-we-offer" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/prices" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/tests-listing" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="/terms-conditions" class="d-inline-block">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/privacy-policy" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                          
                            <li class="d-block">
                                <a href="/contact-us" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->


        <!-- custom js -->
        <script src="assets/scripts/jquery.min.js"></script>
        <script src="assets/scripts/popper.min.js"></script>
        <script src="assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="assets/scripts/slick.js"></script>
        <script src="assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="assets/scripts/aos.js"></script>
        <script src="assets/scripts/main.js"></script>
        <script src="assets/js/main.js"></script>

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>