<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign in | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="assets/scripts/font-awesome-5-pro.js"></script>

        <!-- Font Family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- custom -->
        <link rel="stylesheet" href="/assets/styles/slick.css">
        <link rel="stylesheet" href="/assets/styles/aos.css">
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">  
    </head>

    <body>

        <main>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Check Your Email</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="form-control-label">OTP</label>
                            <div class="pass-group">
                                <input type="text" name="otp" id="otp" class="form-control pass-input"
                                    value="">
                        
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" onclick="otpHandler()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn d-none btn-primary" id='openOTPModal' data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
              </button>
            <section class="login-sec login-signup-sec">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-8 col-md-10">
                            <div class="logo text-center">
                                <a href="">
                                    <img src="assets/images/sitelogo-white.png" alt="logo" />
                                </a>
                            </div>

                            <div class="forms mt-5">

                                <div class="text-center mb-4">
                                    <h2 class="text-purple mb-4">
                                       Forgot Password
                                    </h2>
                                    <p>
                                        We offer a range of covid-19 tests including PCR filt to fly, Day 2 & Day 8 Tests and Test to release.
                                    </p>
                                </div>
                                <div class="row pt-xl-4">
                                    <div class="col-md-12 form-group mb-4">
                                        <label>Email Address</label>
                                        <div class="completed">
                                            <input type="email" name="email" id="email" value="johndue@gmail.com" class="w-100 field" required />
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                            
                                    <div class="col-md-12 form-group mb-4">
                                        <button onclick="forgotHandler()" class="btn-purple d-block text-uppercase w-100">
                                           Send OTP
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center mb-4">
                                    <p>
                                        Don't have an account yet ?
                                        <a href="signup" class="text-purple font-weight-bold">Sign Up</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


        </main>


        <!-- custom js -->
        <script src="assets/scripts/jquery.min.js"></script>
        <script src="assets/scripts/popper.min.js"></script>
        <script src="assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="assets/scripts/slick.js"></script>
        <script src="assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="assets/scripts/aos.js"></script>
        <script src="assets/scripts/main.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
		integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>

            async function forgotHandler() {
                let email = document.getElementById('email').value
                console.log(password)
                let data = { email: email }
                axios.post('/forgot', data, { headers: { 'Content-Type': 'application/json' } })
                    .then(data =>{
                        console.log(data)
               document.getElementById('openOTPModal').click()

                    
                    }
                    ).catch(err=>{
                        console.log(err)
                        alert("Something went Wrong")
                    });
    
    
            }
      
            async function otpHandler() {
                let email = document.getElementById('email').value
                let otp = document.getElementById('otp').value
                console.log(password)
                let data = { email: email,otp:otp }
                axios.post('/verify-otp', data, { headers: { 'Content-Type': 'application/json' } })
                    .then(data =>{
                        console.log(data)
              
                    
                    }
                    ).catch(err=>{
                        console.log(err)
                        alert("Something went Wrong")
                    });
    
    
            }
     
      </script>
        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>