<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Preparing for Your COVID-19 Test | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="/assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="/assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="assets/scripts/font-awesome-5-pro.js"></script>

        
        <!-- Font Family -->
        <link rel="preconnect" href="/https://fonts.googleapis.com">
        <link rel="preconnect" href="/https://fonts.gstatic.com" crossorigin>
        <link href="/https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- custom -->
        <link rel="stylesheet" href="/assets/styles/slick.css">
        <link rel="stylesheet" href="/assets/styles/aos.css">
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">  
    </head>

    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website / GOV.UK
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="/tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="//">
                            <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="//">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link active" href="/javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link active" href="/preparing-for-your-test">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/after-your-test">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="/javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/diphtheria">
                                                Diphtheria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Cholera
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Yellow Fever
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis A
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis B
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Japanese Encephalitis
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Malaria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Meningococcal Disease
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Polio
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Rabies
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tetanus
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tick-Borne
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Typhoid
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/prices">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/testimonials">
                                        Testimonials
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple-border mr-lg-3 mb-xl-0 mb-3" href="/login">
                                        LOGIN
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple mb-xl-0 mb-3" href="/tests-listing">
                                        BOOK TEST
                                    </a>
                                </li> 
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="/tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            <!-- .faq-sec -->
            <section class="cms-page-sec your-tests-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center mb-xl-5 mb-4">
                            <h2 class="mb-4">
                                Preparing for Your COVID-19 Test
                            </h2>
                            <p>
                                You must <a href="/tests-listing"></a> to be tested at ExpressTest. Please choose from these products to find out more:
                            </p>
                        </div>

                        <div class="col-12">
                            <div class="tabbing">
                                <ul class="nav nav-pills mb-5">
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link active" data-toggle="pill" href="/#test1">
                                            Test Only
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test2">
                                            Fit to Fly (PCR)
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test3">
                                            Fit to Fly (LAMP)
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test4">
                                            Fit to Fly (Antigen Lateral Flow)
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test5">
                                            International Arrivals Day 2 & Day 8 Testing
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test6">
                                            Test to Release
                                        </a>
                                    </li>
                                    <li class="nav-item d-inline-block">
                                        <a class="nav-link" data-toggle="pill" href="/#test7">
                                            Home Testing Kits
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane container p-0 active" id="test1">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This is to be used if you are NOT travelling but need a test
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Booking is essential to get tested at ExpressTest. We offer gold standard COVID-19 PCR testing at these UK locations.
                                                </p>
                                                <p>
                                                    Book your slot at your preferred testing centre and pay online. You will be sent a confirmation email with a QR code, which 
                                                    you must bring to your appointment.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put 
                                                    it on again afterwards.
                                                </p>
                                                <p>
                                                    Please bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Photo ID for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation.
                                                </p>
                                                <p>
                                                    You will remain in your car/taxi at our Drive Throughs, or will be directed to the swabbing area at our Walk Throughs.
                                                </p>
                                                <p>
                                                    Our Drive Through vehicle height restriction is 2.4m
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you 
                                                    <strong>do not eat or drink anything</strong> 
                                                    for 30 minutes before your swab is taken. This is to reduce the risk of 
                                                    tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from both the back of the throat and the nasal passage
                                                </p>
                                                <p>
                                                    Your swab sample is then safely stored and labelled, ready to be sent to an ExpressTest laboratory
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test2">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This is for travelling FROM the UK, where a PCR test is required
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Booking is essential to get tested at ExpressTest. We offer gold standard COVID-19 PCR testing at these UK locations.
                                                </p>
                                                <p>
                                                    Book your slot at your preferred testing centre and pay online. You will be sent a confirmation email with a QR code, which you must bring to your appointment.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put it on again afterwards.
                                                </p>
                                                <p>
                                                    Please bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Photo ID for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation.
                                                </p>
                                                <p>
                                                    You will remain in your car/taxi at our Drive Throughs, or will be directed to the swabbing area at our Walk Throughs.
                                                </p>
                                                <p>
                                                    Our Drive Through vehicle height restriction is 2.4m
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you do not eat or drink anything for 30 minutes before your swab is taken. This is to reduce the risk of tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from both the back of the throat and the nasal passage
                                                </p>
                                                <p>
                                                    Your swab sample is then safely stored and labelled, ready to be sent to an ExpressTest laboratory.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test3">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This is for travelling FROM the UK, where a LAMP test is required
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    ExpressTest offers LAMP testing at Heathrow Airport. Please see our ‘book a test’ pages for latest locations.
                                                </p>
                                                <p>
                                                    Book your slot at your preferred facility and pay online. You will be sent a confirmation email with a QR code.
                                                </p>
                                                <p>
                                                    We advise booking your test no less than 4 hours before any travel plans you may have.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put it on again afterwards.
                                                </p>
                                                <p>
                                                    Bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Passports for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation
                                                </p>
                                                <p>
                                                    Please do not eat or drink anything acidic (fruit juice or sweets) in the 30mins before your test.
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you do not eat or drink anything for 30 minutes before your swab is taken. This is to reduce the risk of tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from the nasal passage
                                                </p>
                                                <p>
                                                    Your swab sample is then safely stored and labelled, ready to be sent to the laboratory for testing
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test4">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This is for travelling FROM the UK, where a Antigen Lateral Flow Test is required
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Booking is essential to get tested at ExpressTest. We offer Antigen Lateral Flow testing at Heathrow, Gatwick, Birmingham, Edinburgh and Paddington.
                                                </p>
                                                <p>
                                                    Book your slot at your preferred testing centre and pay online. You will be sent a confirmation email with a QR code, which you must bring to your appointment.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put it on again afterwards.
                                                </p>
                                                <p>
                                                    Please bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Photo ID for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation.
                                                </p>
                                                <p>
                                                    You will be directed to the swabbing area at our Walk Throughs and Park to Test. There are dedicated parking areas for coaches, minibuses and taxis at our Heathrow Park to Test centre.
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you do not eat or drink anything for 30 minutes before your swab is taken. This is to reduce the risk of tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from the nasal passage
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test5">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This service is for passengers arriving into England Only. We offer a single Day 2 test for when you are arriving from a Green 
                                                        country or when arriving from an Amber list country. For non fully vaccinated travellers we have an Amber package (Day 2 & Day 
                                                        8 tests) where you can also select a Test to Release test if you would like one.
                                                    </strong>
                                                </h6>
                                                <h6>
                                                    <strong>
                                                        Please do not book a package (Day 2 & Day 8 tests) if you only need the Day 2 test. The package is a different product, reported 
                                                        in a different way to the government, and the Day 8 test will be non-refundable. If you have made a mistake, you will need to 
                                                        cancel and re-book the correct test. Don't forget to fill out a new Passenger Locator Form as well.
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Arrivals testing is required for all passengers arriving into England unless you are exempt. It you are arriving from a Red List country, then you are not eligible for our service, and must use the UK Government's 'managed quarantine' service following the Government guidelines. 
                                                </p>
                                                <p>
                                                    You may book your Day 2 test for the day of arrival in the UK, as it can be done on or before Day 2. Choose your slot at your preferred testing centre to make a booking and pay online.
                                                </p>
                                                <p>
                                                    For packages, you will receive the booking confirmations in sequence, one test at a time, these will contain a different QR Code for each test, which you must bring to your appointment.
                                                </p>
                                                <p>
                                                    The Day 2 test confirmation will arrive within 30mins of booking. For subsequent tests, your confirmation and QR code will be sent to you after you have received your negative result from the previous test.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put it on again afterwards.
                                                </p>
                                                <p>
                                                    Please bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Photo ID for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation.
                                                </p>
                                                <p>
                                                    You will remain in your car/taxi at our Drive Throughs, or will be directed to the swabbing area at our Walk Throughs.
                                                </p>
                                                <p>
                                                    Our Drive Through vehicle height restriction is 2.4m
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you do not eat or drink anything for 30 minutes before your swab is taken. This is to reduce the risk of tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from both the back of the throat and the nasal passage
                                                </p>
                                                <p>
                                                    Your swab sample is then safely stored and labelled, ready to be sent to an ExpressTest laboratory
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test6">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>
                                                        This is to be used if you are arriving in England (not available in Scotland, Wales or NI), and would like to try to release from quarantine with a Day 5 test. 
                                                    </strong>
                                                </h6>
                                                <h6>
                                                    <strong>
                                                        You are able to book this as a package of Tests, together with Arrivals Day 2 & 8 Tests.
                                                    </strong>
                                                </h6>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test1.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Booking 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Test to release is designed to allow you to reduce quarantine period after travel and is available at our Heathrow T4, Gatwick, Birmingham, Brent Cross, Croydon, Paddington, Northampton, Reading and Southampton test centres.
                                                </p>
                                                <p>
                                                    It must be used in accordance with government guidelines.
                                                </p>
                                                <p>
                                                    Book your slot at your preferred test centre and pay online. You will be sent a confirmation email with a QR code, which you must bring to your appointment.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6 order-lg-1 order-2" data-aos="fade-right">
                                                <h2>
                                                    Arriving For 
                                                    <span class="text-skyblue">
                                                        Your Test
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please wear a mask until the moment that you are being swabbed. Our team will tell you when to remove your mask and put it on again afterwards.
                                                </p>
                                                <p>
                                                    Please bring with you:
                                                </p>
                                                <ul class="listing ml-3">
                                                    <li>
                                                        Photo ID for all people being tested
                                                    </li>
                                                    <li>
                                                        Confirmation email with QR code for each person being tested
                                                    </li>
                                                </ul>
                                                <p>
                                                    You will be greeted by a member of the ExpressTest Team, who will check your documentation.
                                                </p>
                                                <p>
                                                    You will remain in your car/taxi at our Drive Throughs, or will be directed to the swabbing area at our Walk Throughs.
                                                </p>
                                                <p>
                                                    Our Drive Through vehicle height restriction is 2.4m
                                                </p>
                                            </div>
                                            <div class="col-lg-6 order-lg-2 order-1" data-aos="fade-left">
                                                <img src="assets/images/test2.png" alt="about img" class="right-img w-100">
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-5">
                                            <div class="col-lg-6" data-aos="fade-right">
                                                <img src="assets/images/test3.png" alt="about img" class="right-img w-100">
                                            </div>
                                            <div class="col-lg-6" data-aos="fade-left">
                                                <h2>
                                                    Our Testing  
                                                    <span class="text-skyblue">
                                                        Process
                                                    </span>
                                                </h2>
                                                <p>
                                                    Please make sure that you do not eat or drink anything for 30 minutes before your swab is taken. This is to reduce the risk of tainting the swab (therefore not producing a result).
                                                </p>
                                                <p>
                                                    Children under 16 must be accompanied by a parent/guardian.
                                                </p>
                                                <p>
                                                    Each customer will be safely swabbed by one of our clinically trained swabbing practitioners in full PPE
                                                </p>
                                                <p>
                                                    Swabbing involves taking a sample from both the back of the throat and the nasal passage
                                                </p>
                                                <p>
                                                    Your swab sample is then safely stored and labelled, ready to be sent to an ExpressTest laboratory.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="test7">			
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <h6>
                                                    <strong>Please visit our dedicated <a href="//">Home Test Information Page</a></strong>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!-- ./faq-sec -->




            <!-- <div class="book-consultation text-center mt-4">
                <div class="col-xl-12">
                    <h2>
                        Book Your Test Today
                    </h2>
                    <a href="/tests-listing" class="btn-blue d-inline-block mt-4">
                        BOOK NOW
                    </a>
                </div>
            </div> -->


            <section class="faq-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2 text-center aos-init aos-animate">                            
                            <h2>
                                Frequently Asked Questions
                            </h2>
                            <p>
                                Should you have any queries about ExpressTest, here are some of the most frequently asked questions we receive about our 
                                services. Alternatively, for a more extensive list of answers, read our <a href="/faq">dedicated FAQs</a> page.
                            </p>
                        </div>
                        <div class="col-12">
                            <div id="accordion" class="accordion mt-4 aos-init aos-animate">
                                <div class="accordion-ques">
                                    <div class="ques collapsed" data-toggle="collapse" href="/#faq1" aria-expanded="true">
                                        <h6 class="mb-0">
                                            How do I book a test?
                                        </h6>
                                    </div>
                                    <div id="faq1" class="collapse show" data-parent="#accordion">
                                        <div class="answers">
                                            <p>
                                                Book online via our 'Book a Test' page. You can choose your preferred testing centre, time and also pay online.
                                            </p>
                                            <p>
                                                You will then be sent a Booking Confirmation email containing your Booking Reference (a number beginning CPT 
                                                or SCPT) and a QR code attached. This could take up to 30 minutes to receive after you’ve made your booking. 
                                                We suggest you also check your spam/junk folder for the email, as some email providers may place it there.
                                            </p>
                                            <p>
                                                You must bring the QR code with you when you arrive for your test. Please also bring your valid Passport, 
                                                National ID or Travel Document if you have booked 'PCR Fit to Fly' Test or 'PCR Test to Release' Test.
                                            </p>
                                            <p>
                                                <strong>Can I book over the phone?</strong>
                                            </p>
                                            <p>
                                                Bookings can only be made via our website and not by phone. Our website currently shows all our available slots 
                                                and you will not gain access to additional slots by calling our customer care centre.
                                            </p>
                                            <p>
                                                <strong>If you need more than one product</strong>
                                            </p>
                                            <p>
                                                You should make separate bookings. e.g. if you want a PCR Fit to Fly Test for departure and also an arrivals package 
                                                for your return, you should make two separate bookings.
                                            </p>
                                            <p>
                                                Note: not all products are available at every site due to different laboratory processes.
                                            </p>
                                            <p>
                                                <strong>Maximum Group Size</strong>
                                            </p>
                                            <p>
                                                You can book for up to 5 people in one booking. If your group is larger than this you will need to make 2 or more bookings and arrive in 2 or more vehicles.
                                            </p>
                                            <p>
                                                Don't forget to bring all of your QR codes to the appointments.
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="accordion-ques">
                                    <div class="ques collapsed" data-toggle="collapse" href="/#faq2" aria-expanded="false">
                                        <h6 class="mb-0">
                                            Can I get a test if I have symptoms?
                                        </h6>
                                    </div>
                                    <div id="faq2" class="collapse" data-parent="#accordion">
                                        <div class="answers">
                                            <p>
                                                No - please don't come to our sites if you have any COVID-19 symptoms. We advise you to contact NHS 111 to get further advice.
                                            </p>
                                        </div>
                                    </div>
                                </div>  

                                <div class="accordion-ques">
                                    <div class="ques collapsed" data-toggle="collapse" href="/#faq3" aria-expanded="false">
                                        <h6 class="mb-0">
                                            Where are your testing centres?
                                        </h6>
                                    </div>
                                    <div id="faq3" class="collapse" data-parent="#accordion">
                                        <div class="answers">
                                            <p>
                                                We currently have testing centres at Heathrow, Gatwick, Birmingham and Edinburgh, as well as regional testing centres across 
                                                the country - please see our 'Directions' page to find the test centre nearest to you. 
                                            </p>
                                            <p>
                                                <strong>Walk throughs and Drive throughs</strong>
                                            </p>
                                            <p>
                                                Please note that some centres are 'Drive through', some are 'Walk through' and some are both of these. 
                                                Please check the test centre accommodates the method of transport you intend to use.
                                            </p>
                                            <p>
                                                <strong>Park to Test</strong>                                                                        
                                            </p>
                                            <p>
                                                Our Park to Test facility is at our Heathrow Drive through site. It is for Antigen Lateral Flow tests only, 
                                                and allows you to park outside the door while you go in and get your test done. It is very suitable for 
                                                families and groups from the same bubble who are all getting Antigen Lateral Flow tests at the same time.
                                            </p>
                                            <p>
                                                There are dedicated parking areas for coaches, minibuses and taxis at our Heathrow Park to Test centre.
                                            </p>
                                        </div>
                                    </div>
                                </div>  


                                <div class="accordion-ques">
                                    <div class="ques collapsed" data-toggle="collapse" href="/#faq4" aria-expanded="false">
                                        <h6 class="mb-0">
                                            When will I get my results?
                                        </h6>
                                    </div>
                                    <div id="faq4" class="collapse" data-parent="#accordion">
                                        <div class="answers">
                                            <p>
                                                <strong>PCR Tests</strong>
                                            </p>
                                            <p>
                                                Please note that we aim to deliver your PCR test results by 10pm the day AFTER your test, however, in some cases 
                                                these could take up to 48 hours, especially if your sample needs to be re-tested. (Home tests are different).
                                            </p>
                                            <p>
                                                <strong>LAMP Tests</strong>
                                            </p>
                                            <p>
                                                LAMP test results will be delivered 2 hours after testing. But please check that LAMP is accepted by your destination country.                                                                   
                                            </p>
                                            <p>
                                                <strong>Home Tests</strong>
                                            </p>
                                            <p>
                                                Home test results will be delivered 24 hours after the sample arrives at our laboratory.
                                            </p>
                                            <p>
                                                <strong>Lateral</strong>
                                            </p>
                                            <p>
                                                We aim to deliver your Lateral Flow results in 30mins from your sample being taken, but please allow sufficient time especially 
                                                if the test is required to check-in for your flight.
                                            </p>
                                            <p>
                                                <strong>
                                                    Remote Lateral Flow
                                                </strong>
                                            </p>
                                            <p>
                                                The Remote Lateral Flow test results are delivered in 1 hour providing that all the information is uploaded correctly and in a readable format.
                                            </p>
                                        </div>
                                    </div>
                                </div>  

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="why-choose-sec bg-white text-center">
                <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                    <h2>
                        Why Choose Us?
                    </h2>
                    <p>
                        Our first concern is for our customer’s safety and welfare. This is why all our tests conform to the highest safety standards and use the latest gold Standard 
                        technology to provide you with accurate results and peace of mind.
                    </p>
                    <a href="/tests-listing" class="btn-blue d-inline-block mt-4">
                        BOOK NOW
                    </a>
                </div>
            </section>


        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="//">
                                <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="//" class="mb-md-0 mb-3 d-block">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo" class="site-logo"/>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic – 
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="/#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/mailto:youremail@gmail.com" class="d-inline-block">
                                    <i class="fas fa-envelope"></i>
                                    youremail@gmail.com
                                </a>
                            </li>
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="/#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="/#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="/#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="/#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="/about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/preparing-for-your-test" class="d-inline-block active">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/after-your-test" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/testimonials" class="d-inline-block">
                                    Testimonials
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="/faq" class="d-inline-block">
                                    FAQs
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/contact-us" class="d-inline-block">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Tests Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    PCR Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Rapid Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/after-your-test" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Your Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Covid Test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/prices" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Terms & Conditions 
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Sitemap
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/#" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->


        <!-- custom js -->
        <script src="assets/scripts/jquery.min.js"></script>
        <script src="assets/scripts/popper.min.js"></script>
        <script src="assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="assets/scripts/slick.js"></script>
        <script src="assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="assets/scripts/aos.js"></script>
        <script src="assets/scripts/main.js"></script>

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>