<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Privacy Policy | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="/assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="/assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="/assets/scripts/font-awesome-5-pro.js"></script>

        
        <!-- Font Family -->
        <link rel="preconnect" href="/https:/fonts.googleapis.com">
        <link rel="preconnect" href="/https:/fonts.gstatic.com" crossorigin>
        <link href="/https:/fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        
        <!-- custom -->
        <link rel="stylesheet" href="/assets/styles/slick.css">
        <link rel="stylesheet" href="/assets/styles/aos.css">
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">  
        
    </head>

    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website 
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="/assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="/tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="/">
                            <img src="/assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/preparing-for-your-test">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/after-your-test">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/diphtheria">
                                                Diphtheria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Cholera
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Yellow Fever
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis A
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis B
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Japanese Encephalitis
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Malaria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Meningococcal Disease
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Polio
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Rabies
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tetanus
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tick-Borne
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Typhoid
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/prices">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/testimonials">
                                     Reviews
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple-border mr-lg-3 mb-xl-0 mb-3" href="/login">
                                        LOGIN
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple mb-xl-0 mb-3" href="/tests-listing">
                                        BOOK TEST
                                    </a>
                                </li> 
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="/tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            
            <!-- .cms-page-sec -->
            <section class="cms-page-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-center" data-aos="fade-up">                                        
                                        <h2 class="mb-4">
                                            Privacy  
                                            <span class="text-skyblue">
                                                Policy
                                            </span>
                                        </h2>
                                    </div>

                                    <div class="col-lg-12" data-aos="fade-up">
                                       
                                        <!-- Point 1 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Background</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            Blackburn Travel Clinic understands that your privacy is important to you and that you care about how your personal data is used and shared online. We respect and value the privacy of everyone who visits our web sites “Our Site” and will only collect and use personal data in ways that are described here, and in a manner that is consistent with Our obligations and your rights under the law.
                                                        </li>
                                                        <li>
                                                            Please read this Privacy Policy carefully and ensure that you understand it. Your acceptance of Our Privacy Policy is deemed to occur upon your first use of Our Site. If you do not accept and agree with this Privacy Policy, you must stop using Our Site immediately.   
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 2 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Definitions and Interpretation</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            In this Policy, the following terms shall have the following meanings:
                                                        </li>
                                                        <li>
                                                            Personal data: means any and all data that relates to an identifiable person who can be directly or indirectly identified from that data. In this case, it means personal data that you give to Us via Our Site. This definition shall, where applicable, incorporate the definitions provided in the Data Protection Act 1998 and EU Regulation 2016/679 – the General Data Protection Regulation (“GDPR”); and
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 3 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>What Does This Policy Cover?</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            This Privacy Policy applies only to your use of Our Site. Our Site may contain links to other websites. Please note that We have no control over how your data is collected, stored, or used by other websites and We advise you to check the privacy policies of any such websites before providing any data to them.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 4 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Your Rights</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            As a data subject, you have the following rights under the GDPR, which this
                                                        </li>

                                                        <p>
                                                            Policy and Our use of personal data have been designed to uphold:
                                                        </p>

                                                        <ul class="listing mb-3 pl-4">
                                                            <li>
                                                                The right to be informed about Our collection and use of personal data;
                                                            </li>
                                                            <li>
                                                                The right of access to the personal data we hold about you ;
                                                            </li>
                                                            <li>
                                                                The right to rectification if any personal data We hold about you is inaccurate or incomplete ;
                                                            </li>
                                                            <li>
                                                                The right to be forgotten – i.e. the right to ask Us to delete any personal data We hold about you (We only hold your personal data for a limited time, as explained in section 6 but if you would like Us to delete it sooner, please contact Us );
                                                            </li>
                                                            <li>
                                                                The right to restrict (i.e. prevent) the processing of your personal data;
                                                            </li>
                                                            <li>
                                                                The right to data portability (obtaining a copy of your personal data to re-use with another service or organisation);
                                                            </li>
                                                            <li>
                                                                The right to object to Us using your personal data for particular purposes; and
                                                            </li>
                                                            <li>
                                                                Rights with respect to automated decision making and profiling.
                                                            </li>
                                                            <li>
                                                                If you have any cause for complaint about Our use of your personal data, please contact Us using the details provided in section 9 and We will do Our best to solve the problem for you. If We are unable to help, you also have the right to lodge a complaint with the UK’s supervisory authority, the Information Commissioner’s Office.
                                                            </li>
                                                            <li>
                                                                For further information about your rights, please contact the Information Commissioner’s Office or your local Citizens Advice Bureau.
                                                            </li>
                                                        </ul>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                         <!-- Point 5 -->
                                         <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>What Data Do We Collect?</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            We do not collect any personal data from you. We do not use any other means of data collection.
                                                        </li>
                                                        <li>
                                                            If you send Us an email, We may collect your name, your email address, and any other information which you choose to give Us.
                                                        </li>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 6 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>How Do We Use Your Data?</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            All personal data is processed and stored securely, for no longer than is necessary in light of the reason(s) for which it was first collected. We will comply with Our obligations and safeguard your rights under the Data Protection Act 1998 and GDPR at all times.
                                                        </li>
                                                        <li>
                                                            As noted above, We do not generally collect any personal data. If you contact Us and We obtain your personal details from your email, We may use them as follows:
                                                        </li>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <p>
                                            To reply to your email;
                                        </p>
                                        <p>
                                            You have the right to withdraw your consent to Us using your personal data at any time, and to request that We delete it.
                                        </p>
                                        <p>
                                            We will not share any of your data with any third parties for any purposes.
                                        </p>


                                        <!-- Point 7 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>How and Where Do We Store Your Data?</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            We only keep your personal data for as long as We need to in order to use it as described above in section 6, and/or for as long as We have your permission to keep it.
                                                        </li>
                                                        <li>
                                                            Your data will only be stored in the UK.
                                                        </li>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 8 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Contacting Us</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            If you have any questions about Our Site or this Privacy Policy, please contact Us by email at blackburntravelclinic.co.uk, by telephone on 01254 690496 or by post at 6 Preston Old Rd Blackburn BB2 2ss. Please ensure that your query is clear, particularly if it is a request for information about the data
                                                        </li>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 10 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Changes to Our Privacy Policy</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            We may change this Privacy Policy from time to time (for example, if the law changes). Any changes will be immediately posted on Our Site and you will be deemed to have accepted the terms of the Privacy Policy on your first use of Our Site following the alterations. We recommend that you check this page regularly to keep up-to-date.
                                                        </li>
                                                        
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ./cms-page-sec -->


        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="/">
                                <img src="/assets/images/site-logo.png" alt="site-logo" class="site-logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/" class="mb-md-0 mb-3 d-block">
                            <img src="/assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo"
                                class="site-logo" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic –
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                           
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/BlackburnTravelClinic/" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                         
                            <li class="d-inline-block">
                                <a href="https://twitter.com/blackburntravel" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/preparing-for-your-test" class="d-inline-block">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/after-your-test" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/testimonials" class="d-inline-block">
                                    Reviews
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="/faq" class="d-inline-block">
                                    FAQs
                                </a>
                                </li>
                                <li class="d-block">
                                    <a href="/contact-us" class="d-inline-block">
                                        Contact us
                                    </a>
                                </li>
                        </ul>
                    </div>
                       <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Customer services
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                Monday - Friday (8am - 6.30pm)
                              
                            </li>
                            <li class="d-block">
                              
                                Saturday (9am - 6.30pm)
                            </li>
                            <li class="d-block">
                           
                                Sunday (11am - 6.30pm
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/what-we-offer" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/prices" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/tests-listing" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="/terms-conditions" class="d-inline-block">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/privacy-policy" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                          
                            <li class="d-block">
                                <a href="/contact-us" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->


        <!-- custom js -->
        <script src="/assets/scripts/jquery.min.js"></script>
        <script src="/assets/scripts/popper.min.js"></script>
        <script src="/assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="/assets/scripts/slick.js"></script>
        <script src="/assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="/assets/scripts/aos.js"></script>
        <script src="/assets/scripts/main.js"></script>

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>