<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign Up | Covid -19 PCR Testing</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.8/css/intlTelInput.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.8/js/intlTelInput-jquery.min.js"></script>
   
    <!-- favicon -->
    <link rel="icon" href="/assets/images/favicon.png" type="image/png" sizes="16x16">

    <!-- bootstrape -->
    <link rel="stylesheet" href="/assets/bootstrap-4/bootstrap.min.css">

    <!-- font-awesome -->
    <script src="assets/scripts/font-awesome-5-pro.js"></script>

    <!-- Font Family -->
    <link rel="preconnect" href="/https://fonts.googleapis.com">
    <link rel="preconnect" href="/https://fonts.gstatic.com" crossorigin>
    <link
        href="/https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- custom -->
    <link rel="stylesheet" href="/assets/styles/slick.css">
    <link rel="stylesheet" href="/assets/styles/aos.css">
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/responsive.css">
</head>

<body>

    <main>


        <section class="signup-sec login-signup-sec">
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Check Your Email</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="form-control-label">OTP</label>
                                <div class="pass-group">
                                    <input type="text" name="otp" id="otp" class="form-control pass-input" value="">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" id='closeModal'
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="otpHandler()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="logo text-center">
                            <a href="/">
                                <img src="assets/images/sitelogo-white.png" alt="logo" />
                            </a>
                        </div>

                        <div class="forms mt-5">

                            <div class="text-center mb-4">
                                <h2 class="text-purple mb-4">
                                    Sign Up
                                </h2>
                                <p>
                                    We offer a range of covid-19 tests including PCR filt to fly, Day 2 & Day 8 Tests
                                    and Test to release.
                                </p>
                            </div>
                            <form id="loginForm" action="/signup" method="POST">
                                <div class="row pt-xl-4">
                                    <div class="col-md-12 form-group mb-4">
                                        <label> First Name </label>
                                        <div>
                                            <input type="text" name="firstName" id="firstName" class="w-100 field"
                                                placeholder="Enter Your First Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-4">
                                        <label>Last Name </label>
                                        <input type="lastName" name="lastName" id="lastName" placeholder="Last Name "
                                            class="w-100 field" required />
                                        <i class="fas fa-check"></i>

                                    </div>
                                    <div class="col-md-12 form-group mb-4">
                                        <label>Email Address</label>
                                        <div>
                                            <input type="email" name="email" id="email"
                                                placeholder="Enter email address" class="w-100 field" required />
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-4">
                                        <label>Password</label>
                                        <div>
                                            <input type="password" name="password" id="password"
                                                placeholder="**********" class="w-100 field" required />
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group mb-4">
                                        <label> Phone </label>

                                        <input type="text" name="phone" id="txtPhone" class="w-100 field" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label> Date Of Birth </label>

                                    <input type="date" name="dob" id="dob" class="w-100 field" value="">

                                </div>
                                <div class="form-group">
                                    <label> Address </label>

                                    <input type="text" name="address" id="address" class="w-100 field" value="">

                                </div>
                                <div class="form-group">
                                    <label> Gender </label>

                                    <select name='gender' id='gender' class="w-100 field">
                                        <option value='male'>male</option>
                                        <option value='female'>female</option>
                                        <option value='others'>others</option>
                                    </select>
                                    <button id='submitForm' class="btn btn-lg btn-block btn-primary mt-3 d-none"
                                        type="submit">Sign Up</button>
                                </div>

                        </div>
                        </form>
                        <button type="button" class="btn d-none btn-primary" id='openOTPModal' data-toggle="modal"
                            data-target="#exampleModal">
                            Launch demo modal
                        </button>
                        <button class="btn btn-lg btn-block btn-primary mt-3 " id='otpSubmit' data-toggle="modal"
                            data-target="#exampleModal" onclick="otpSend()">Send Confimation Email</button>

                        <div class="text-center mb-4">
                            <p>
                                Do you have already account?
                                <a href="/login" class="text-purple font-weight-bold">Sign in</a>
                            </p>

                        </div>
                    </div>

                </div>
            </div>
            </div>
        </section>


    </main>


    <!-- custom js -->
    <script src="assets/scripts/jquery.min.js"></script>
    <script src="assets/scripts/popper.min.js"></script>
    <script src="assets/bootstrap-4/bootstrap.min.js"></script>
    <script src="assets/scripts/slick.js"></script>
    <script src="assets/scripts/jquery.matchHeight-min.js"></script>
    <script src="assets/scripts/aos.js"></script>
    <script src="assets/scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"
        integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        AOS.init({
            duration: 1200,
        });
        let otp = null
        async function otpSend() {
            let email = document.getElementById('email').value

            let data = { email: email }
            axios.post('/sign-up-check', data, { headers: { 'Content-Type': 'application/json' } })
                .then(res => {
                    console.log(res)
                    document.getElementById('openOTPModal').click()
                    otp = res.data.data


                }
                ).catch(err => {
                    console.log(err)
                    alert("Email Not Found")
                });


        }

        async function otpHandler() {

            let otpvalue = document.getElementById('otp').value
            let submitForm = document.getElementById('submitForm')
            let otpSubmit = document.getElementById('otpSubmit')
            console.log(otpvalue, otp)
            if (otp == otpvalue) {
                submitForm.classList.remove('d-none')
                otpSubmit.classList.add('d-none')
                document.getElementById('closeModal').click()
                document.getElementById('loginForm').submit()


            }
            else {
                alert("Incorrect OTP")
            }


        }

    </script>
   <script type="text/javascript">
      $(function () {
          var code = "+44"; // Assigning value from model.
          $('#txtPhone').val(code);
          $('#txtPhone').intlTelInput({
              autoHideDialCode: true,
              autoPlaceholder: "ON",
              dropdownContainer: document.body,
              formatOnDisplay: true,
              hiddenInput: "full_number",
              initialCountry: "auto",
              nationalMode: true,
              placeholderNumberType: "MOBILE",
              preferredCountries: ['US'],
              separateDialCode: true
          });
          $('#btnSubmit').on('click', function () {
              var code = $("#txtPhone").intlTelInput("getSelectedCountryData").dialCode;
              var phoneNumber = $('#txtPhone').val();
              var name = $("#txtPhone").intlTelInput("getSelectedCountryData").name;
              alert('Country Code : ' + code + '\nPhone Number : ' + phoneNumber + '\nCountry Name : ' + name);
          });
      });
  </script>
</body>

</html>