<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>Covid -19 PCR Testing - Dashboard</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/img/favicon.png">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
		
		<!-- Feathericon CSS -->
		<link rel="stylesheet" href="css/feather.css">

		<!-- Main CSS -->
		<link rel="stylesheet" href="css/style.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">
	</head>
	<body>
	
		<!-- Main Wrapper -->
		<div class="main-wrapper login-body">
			<div class="login-wrapper">
				<div class="container">
				
					<img class="img-fluid logo-dark mb-2" src="assets/img/site-logo.png" alt="Logo">
					<div class="loginbox">
						
						<div class="login-right">
							<div class="login-right-wrap">
								<h1>Login</h1>
								<p class="account-subtitle">Access to our dashboard</p>
								
								<form id="loginForm" action="/signup" method="POST">
									<div class="form-group">
										<label class="form-control-label">Email Address</label>
										<input type="email" class="form-control" id="email" name="email" value="">
									</div>
									<div class="form-group">
										<label class="form-control-label">Password</label>
										<div class="pass-group">
											<input type="password" name="password" id="password" class="form-control pass-input" value="">
											<span class="fas fa-eye toggle-password"></span>
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> First Name </label>
										<div class="pass-group">
											<input type="text" name="firstName" 
											id="firstName" class="form-control pass-input" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> Last Name </label>
										<div class="pass-group">
											<input type="text" name="lastName" 
											id="lastName" class="form-control pass-input" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> Phone </label>
										<div class="pass-group">
											<input type="text" name="phone" 
											id="phone" class="form-control pass-input" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> Date Of Birth </label>
										<div class="pass-group">
											<input type="date" name="dob" 
											id="dob" class="form-control pass-input" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> Address </label>
										<div class="pass-group">
											<input type="text" name="address" 
											id="address" class="form-control pass-input" value="">
										</div>
									</div>
									<div class="form-group">
										<label class="form-control-label"> Gender </label>
									
									<select name='gender'
									 id='gender' class="form-control pass-input"
									  >
										<option value='male'>male</option>
										<option value='female'>female</option>
										<option value='others'>others</option>
									  </select>
									<button class="btn btn-lg btn-block btn-primary mt-3" type="submit">Sign Up</button>
							</div>	</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
		<script src="assets/js/jquery-3.6.0.min.js"></script>

		<!-- Bootstrap Core JS -->
		<script src="assets/js/bootstrap.bundle.min.js"></script>
		
		<!-- Font Awsome Js -->
		<script  src="assets/js/font-awesome-5-pro.js"></script>

		<!-- Custom JS -->
		<script  src="assets/js/script.js"></script>
		<!-- <script  src="assets/js/test.js"></script> -->

	</body>
</html>