<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Terms and Conditions | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="//assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="//assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="/assets/scripts/font-awesome-5-pro.js"></script>

        
        <!-- Font Family -->
        <link rel="preconnect" href="/https://fonts.googleapis.com">
        <link rel="preconnect" href="/https://fonts.gstatic.com" crossorigin>
        <link href="/https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        
        <!-- custom -->
        <link rel="stylesheet" href="//assets/styles/slick.css">
        <link rel="stylesheet" href="//assets/styles/aos.css">
        <link rel="stylesheet" href="//assets/styles/main.css">
        <link rel="stylesheet" href="//assets/styles/responsive.css">  
        
    </head>

    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="/assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website 
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="/assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="/tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="//">
                            <img src="/assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="//">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/preparing-for-your-test">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/after-your-test">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/diphtheria">
                                                Diphtheria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Cholera
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Yellow Fever
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis A
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Hepatitis B
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Japanese Encephalitis
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Malaria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Meningococcal Disease
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Polio
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Rabies
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tetanus
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Tick-Borne
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="/#">
                                                Typhoid
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/prices">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/testimonials">
                                     Reviews
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple-border mr-lg-3 mb-xl-0 mb-3" href="/login">
                                        LOGIN
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple mb-xl-0 mb-3" href="/tests-listing">
                                        BOOK A TEST
                                    </a>
                                </li> 
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="/tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            
            <!-- .cms-page-sec -->
            <section class="cms-page-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="content">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-center" data-aos="fade-up">                                        
                                        <h2 class="mb-5">
                                            Terms & 
                                            <span class="text-skyblue">
                                                Conditions
                                            </span>
                                        </h2>
                                    </div>

                                    <div class="col-lg-12" data-aos="fade-up">                                        
                                        
                                        <h5 class="text-blue mb-3">
                                            BLACKBURN TRAVEL CLINIC TERMS AND CONDITIONS
                                        </h5>
                                        <strong>COVID-19 (Coronavirus)</strong> <br/>
                                        <strong>RT-PCR (Polymerase Chain Reaction) Testing</strong> <br/>
                                        <strong>Terms & Conditions</strong> <br/>

                                        <!-- Point 1 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>TESTING</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            Upon purchase, you agree to and accept these Terms and Conditions (“T&Cs”). These Terms and Conditions will prevail over any 
                                                            other terms and conditions provided to you in relation to the test.
                                                        </li>
                                                        <li>
                                                            The full test process comprises of a nasal and throat swab to obtain a sample which is then sent to our labs for analysis . 
                                                            The sample taking (nasal and/or throat swab) should take approximately 5 minutes and will require one of our trained 
                                                            clinicians supervising you take a sample from your throat and/or nose. The RT-PCR sample is labelled, secured and sent 
                                                            securely to our partner government registered laboratory for analysis.
                                                        </li>
                                                        <li>
                                                            The process and equipment we use carry CE-IVD approval for use in the UK and EU. The purpose of the test is to pick up 
                                                            the presence of the actual virus in the nose and throat for PCR test.

                                                            <ul class="listing mt-3 mb-3 pl-4">
                                                                <li>
                                                                    Some of our customers may be requesting our services as a way of satisfying the requirements of various countries for 
                                                                    negative Covid-19 test results prior to travelling to their territories. Due to the constantly changing rules and 
                                                                    regulations, individuals are responsible to assess the suitability of this test against the test requirements for 
                                                                    their airline/destination country.
                                                                </li>
                                                                <li>
                                                                    Blackburn Travel Clinic is unable to provide any advice or guidance with regards to the acceptance criteria for 
                                                                    airlines/countries and accepts no liability for this or any consequential losses from failing to meet the airline 
                                                                    or border control requirements.
                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li>
                                                            A positive result confirms that the Covid-19 virus is present. A negative result means there was no evidence of the COVID-19 
                                                            virus.
                                                        </li>
                                                        <li>
                                                            Our results are not a replacement for a full and proper medical investigation and/or a doctor’s advice. Our comments are 
                                                            based solely on the results in relation to what are considered normal ranges in the general population. If you have any 
                                                            concerns at all regarding any aspect of your health or your test results you should discuss them directly with your GP 
                                                            or a doctor.
                                                        </li>
                                                        <li>
                                                            In order to book a test, you must register and book online at https://www.blackburntravelclinic.co.uk. Whilst at the 
                                                            clinic you agree to abide by the rules, policies and instructions implemented by the clinic staff.

                                                            <ul class="listing mt-3 mb-3 pl-4">
                                                                <li>
                                                                    On arrival you will be welcomed by a team member who will help you to register your information and where 
                                                                    applicable, check that you have all the required documentation (passport / copy, booking confirmation ).
                                                                </li>
                                                                <li>
                                                                    If you are flying, you are responsible for ensuring that you book a suitable time slot which gives you enough 
                                                                    time to complete the test process before you are required to check in for your flight. We can provide guidance 
                                                                    to you in relation to when to expect results based on what time you take the test.
                                                                </li>
                                                                <li>
                                                                    You are responsible for ensuring the accuracy and completeness of the information requested in performing the tests.  
                                                                    Where using our home test pack, you are responsible for ensuring the sample is taken correctly by following the 
                                                                    instructions provided.
                                                                </li>
                                                                <li>
                                                                    We aim to deliver your test results as follows:

                                                                    <ul class="listing mt-3 mb-3 pl-4">
                                                                        <li>
                                                                            <strong>RT-PCR test –</strong> For tests done in the morning clinic by11:30am you can expect results by 11:00am the day after 
                                                                            your test via email. For tests taken after 12:00pm and before 6:30pm, you can expect results by 11:30 pm 
                                                                            the day after your test via email
                                                                        </li>
                                                                        <li>
                                                                            <strong>Home Test kits –</strong> 24hrs after the receipt of your test at our laboratory following you posting the kits via our pre-paid envelope. 
                                                                            Your results will be issued via e-mail.
                                                                        </li>
                                                                    </ul>

                                                                </li>
                                                            </ul>

                                                        </li>
                                                        <li>
                                                            If you do not carry out any of the actions under 1.6 above, will not be able to provide the services to you and will not be 
                                                            liable for any loss or damages you may suffer as a consequence.
                                                        </li>
                                                        <li>
                                                            We or our partner laboratory are legally required to share certain information with Public Health England, or other 
                                                            governmental organisations, in relation to your test, including: personal information (e.g. name and date of birth); 
                                                            the result, whether negative or positive; and confirmation that the sample is one that the laboratory has tested for us. 
                                                            This information may be used as part of any test and trace service being operated by the government in your jurisdiction. 
                                                            By proceeding to book a testing appointment you accept the terms of this privacy notice.
                                                        </li>
                                                        <li>
                                                            We are not able to offer appointments to anyone under the age of 18 unless the registration process is completed by a parent 
                                                            or legal guardian. We would advise you to take advice from your GP or medical practitioner before booking an appointment for 
                                                            anyone under the age of 18 to understand if appropriate and checking individual airline and/or country requirements.

                                                            <ul class="listing mt-3 mb-3 pl-4">
                                                                <li>
                                                                    The process of taking a sample can be mildly invasive, so if you are unsure, take advice from your GP 
                                                                    (e.g. if you are prone to nose bleeds, throat issues).
                                                                </li>
                                                                <li>
                                                                    All our staff are properly trained to supervise the sample, and the procedures described above conform with a standard process.
                                                                </li>
                                                                <li>
                                                                    If you require additional assistance for any reason, please call or email Team on the website.
                                                                </li>
                                                            </ul>

                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 2 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>We will not offer appointments in the following circumstances:</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            If you have had a positive antigen (swab) test for COVID-19 or developed any of the symptoms of COVID-19 within 10 days prior 
                                                            to your appointment. These symptoms can include: a fever (temperature over 37.8°C); loss of sense of taste or smell; new 
                                                            flu-like symptoms (runny or blocked nose; sore throat; shortness of breath; muscle aches and pains; headaches; overwhelming 
                                                            tiredness); or a new, continuous cough.
                                                        </li>
                                                        <li>
                                                            If travel to one of our testing sites is prohibited by the guidance of your local health authorities due to lockdown or 
                                                            other restrictions which may change from time to time.
                                                        </li>
                                                        <li>
                                                            If you have returned from a country in the 10 days prior to your appointment which requires a quarantine period under UK 
                                                            government guidelines, unless you can do so under Government guidelines, such as the Government approved Test to Release 
                                                            programme or Arrivals Testing. These Government guidelines may change from time to time.
                                                        </li>
                                                        <li>
                                                            If you have had contact with a confirmed positive case of COVID-19 in the 14 days prior to the appointment as confirmed 
                                                            by the government’s test and trace service, or other public health authority.
                                                        </li>
                                                        <li>
                                                            If your household members or other people you have been in contact with have had a positive antigen (swab) test or developed 
                                                            the symptoms above in the 14 days prior to the appointment.
                                                        </li>
                                                        <li>
                                                            If any of the above apply to you, please wait the appropriate time period (which can be found on the government website), 
                                                            and we will be happy to book your appointment.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 3 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>Test Detail</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            The test procedure, precautions, and interpretation of results for these tests is followed strictly when testing.
                                                        </li>
                                                        <li>
                                                            Failure to follow test procedures may impact on the interpretation of the outcome of the test results.
                                                        </li>
                                                        <li>
                                                            Negative test results do not rule out possible other non-COVID-19 viral infections.
                                                        </li>
                                                        <li>
                                                            Positive test results do not rule out co-infections with other pathogens.
                                                        </li>
                                                        <strong class="mb-3 d-block">PCR Tests</strong>
                                                        <li>
                                                            A PCR test is the gold standard in COVID-19 testing and is the test used by the NHS.
                                                        </li>
                                                        <li>
                                                            It offers the most accurate results as it can detect even the smallest amount of virus. This means that a negative PCR test 
                                                            result provides the most reliable indication you can safely continue to work and travel.
                                                        </li>
                                                        <li>
                                                            A negative test result may occur if the level of viral RNA in a sample is below the detection limit of the test.
                                                        </li>
                                                        <li>
                                                            Due to the sensitivity of these tests, there is a very small chance the test result could be returned as inconclusive/failed. 
                                                            If a test result is inconclusive/failed it is not possible to say if the person being tested had the virus when the test was 
                                                            done and a retest must be carried out. In this event, you will be contacted directly by our team to arrange a retest at no 
                                                            extra cost. However, we cannot take responsibility to ensure your retest results will be available prior to your departure 
                                                            time. We will try our best to assist in ensuring the results are returned as soon as possible but on occasions this may 
                                                            mean the timescale is outside the flight departure times. Our retest times remain the same as indicated in 1.6.3.1.
                                                        </li>
                                                        <li>
                                                            A positive test indicates that viral nucleic acid is present in the sample. Given both the potential severity of the infection 
                                                            and the potential for rapid spread, positive results should generally be treated as if the someone is infectious, with 
                                                            isolation to prevent spread and clinical care if symptoms warrant it. Individuals may test positive for weeks or even 
                                                            months after their first positive test even though they are not infectious. It is possible that remnants of the virus 
                                                            causing COVID-19 infection can still be detected by PCR tests for up to 90 days after infection so you should consider 
                                                            that you may still get a positive result with a PCR test. Blackburn Travel Clinic cannot take any responsibility or 
                                                            consequential losses resulting from a positive result following a PCR Test. The test CANNOT be subject to another 
                                                            re-test following declaration by the laboratory of a positive detection. The result will have no bearing and cannot 
                                                            be subject to any comparison with any other self or laboratory tests undertaken on the days before ,during or after 
                                                            the testing sample being done in the clinic or home.
                                                        </li>
                                                        <li>
                                                            It is a legal requirement that Blackburn Travel Clinic, as a provider of the service, share all COVID-19 test results 
                                                            (positive, negative, inconclusive and failed) with Public Health England and the NHS Test and Trace Programme.
                                                        </li>
                                                        <li>
                                                            With regards to the PCR tests required by Government for any UK arrivals testing, if your day 2 PCR test is positive, 
                                                            your sample will be subject to genome sequencing which may be carried out by a third party to check for variants of COVID-19, 
                                                            to comply with the Government Regulations.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                            <p>
                                                By accepting these Terms & Conditions you agree to follow the guidance provided by us and our medical partners. We accept no liability 
                                                for any loss or damage caused by non-compliance with this guidance.
                                            </p>
                                        </div>


                                        <!-- Point 4 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">CONSENT</strong>
                                                    <p>
                                                        By paying and booking for a test, you give us your consent to:
                                                    </p>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            Proceed with the supervision of sample taking for the testing process at your chosen testing centre.
                                                        </li>
                                                        <li>
                                                            Allow Blackburn Travel Clinic to share any relevant personal data such as your name, date of birth, and passport number, 
                                                            among others, with the relevant third parties that may be involved in the provision of our service.
                                                        </li>
                                                        <li>
                                                            Allow Blackburn Travel Clinic to share any relevant personal data with local and national health authorities which require this information.
                                                        </li>
                                                        <strong class="d-block mb-3">You also confirm that:</strong>
                                                        <li>
                                                            You have understood that any third party’s data will be held and shared in accordance with these Terms and Conditions.
                                                        </li>
                                                        <li>
                                                            You have obtained the explicit consent from these third parties for their data to be held and shared in accordance with 
                                                            these same Terms and Conditions.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 4 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">OUR LIABILITY</strong>
                                                    <p>
                                                        References to liability in these Terms and Conditions include any kind of liability arising under or in connection with these 
                                                        Terms and Conditions including liability in contract, tort (including negligence), misrepresentation, restitution or otherwise.
                                                    </p>
                                                    <p>
                                                        Nothing in these Terms and Conditions shall limit or exclude the liability of any party or another person for:
                                                    </p>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            death or personal injury caused by negligence.
                                                        </li>
                                                        <li>
                                                            for fraud or fraudulent misrepresentation.
                                                        </li>
                                                        <li>
                                                            for breach of any statutory duty; or
                                                        </li>
                                                        <li>
                                                            for any act, omission or matter, liability of which may not be limited or excluded under any applicable law.
                                                        </li>                                                        
                                                    </ul>

                                                    <p>
                                                        To the extent permitted by law, Blackburn Travel Clinic, Buncerlane Pharmacy, Whalley Range Pharmacy, Shifa Healthcare Ltd 
                                                        and all third parties connected to us hereby expressly exclude:
                                                    </p>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            all conditions, warranties and other terms which might otherwise be implied by statute, common law, or the law of equity.
                                                        </li>      
                                                        <li>
                                                            any liability for any direct, indirect, or consequential loss or damage, costs or expenses whatsoever incurred in the following circumstances.

                                                            <ul class="listing mt-3 mb-3 pl-4">
                                                                <li>
                                                                    the laboratory being unable to test your sample for any reason,
                                                                </li>
                                                                <li>
                                                                    the test results not being made available to you within the stated turnaround time, where a delay is caused due to any events outside of our reasonable control,
                                                                </li>
                                                                <li>
                                                                    you miss your flight as a result of a delay caused by you or an inconclusive test result, whether following a successfully completed test or otherwise,
                                                                </li>
                                                                <li>
                                                                    your act, omission, or other failure to follow instructions provided to you in relation to sample collection or pre-sample preparation requirements,
                                                                </li>
                                                                <li>
                                                                    your failure to act upon our advice if we recommend that you seek medical advice or attention having taken a test,
                                                                </li>
                                                                <li>
                                                                    your failure to attend a pre-booked appointment; or
                                                                </li>
                                                                <li>
                                                                    any loss or damage that is not foreseeable.
                                                                </li>
                                                            </ul>

                                                        </li>                                                  
                                                    </ul>

                                                    <p>
                                                        <strong>For all Home Tests:</strong>
                                                    </p>


                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            your failure to take your test sample in accordance with the directions laid out in your home test kit leading to an indeterminate or invalid test result.
                                                        </li>      
                                                        <li>
                                                            your failure to package your samples according to the instructions laid out in your home test kit may mean we are unable to test your sample and provide you with a result and/or inaccurate result.
                                                        </li> 
                                                        <li>
                                                            In the event that you are advised to use Royal Mail to return your test to us, your failure to use a Royal Mail post office to return you sample to us in accordance with the instructions provided in the home test kit.
                                                        </li>       
                                                        <li>
                                                            your failure to be available for the courier to collect your sample, may require you to book a second test
                                                        </li>       
                                                        <li>
                                                            liability for events outside of our control: This includes but is not limited to failure to perform, or delay in performance of, any of our obligations under these Terms and Conditions that is caused by any act or event beyond our reasonable control. If an event outside of our reasonable control takes place that affects the performance of our obligations under these Terms and Conditions, we will contact you as soon as reasonably possible to notify you of it. Our obligations under these Terms and Conditions will be suspended and the time for performance of our obligations will be extended for the duration of the event outside of our reasonable control taking place.
                                                        </li>
                                                        <li>
                                                            Our total aggregate liability to you resulting from or arising in connection with any of these Terms and Conditions is limited to the total value paid under the particular Terms and Conditions entered by the parties – meaning the price you paid for our services – in respect of the services supplied to you by Blackburn Travel Clinic.
                                                        </li>                                   
                                                    </ul>

                                                    <p>
                                                        It is a legal requirement that Blackburn Travel Clinic, as a provider of the service, share all COVID-19 test results (positive, negative, inconclusive and failed) with Public Health England and the NHS Test and Trace Programme.
                                                    </p>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            Blackburn Travel Clinic will not be held liable for losses, costs, damage that you suffer or incur as a result of any delays in receiving test results or as a result of inconclusive test results
                                                        </li>
                                                        <li>
                                                            Blackburn Travel Clinic will also not be liable to you for any losses, costs or damages that you suffer or incur as a result of receiving a positive test result (including, if you are unable to travel as a result of testing positive)
                                                        </li>
                                                        <li>
                                                            Service is subject to lab capacity, and specially trained colleague and stock availability
                                                        </li>
                                                        <li>
                                                            It is a legal requirement that Blackburn Travel Clinic as a provider of the service share all COVID-19 test results with Public Health England and the NHS Test and Trace Programme.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 5 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>REFUNDS CANCELLATIONS AND CHANGES TO BOOKINGS</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <strong class="mb-3 d-block">
                                                            Cancelling your test.
                                                        </strong>

                                                        <p>
                                                            All test cancellations requests must be made via email to : blackburntravelclinic@gmail.com, no verbal notification with be accepted.
                                                        </p>

                                                        <ul class="listing mt-3 mb-3 pl-4">
                                                            <li>
                                                                On-Site Clinic tests – If a clinic appointment is cancelled less than 24 hours from appointment time it will be subject to a full charge with no refund entitlement.
                                                            </li>
                                                            <li>
                                                                If you fail to attend an appointment without email notification at least 24 hours prior to appointment then you will be subject to a full charge with no refund entitlement.
                                                            </li>
                                                            <li>
                                                                All cancellations or refund requests will be subject to a minimum £10 administration fee
                                                            </li>
                                                            <li>
                                                                Home Tests – any cancellation must be made at least 4 full days before your test date and cannot be cancelled after the home test pack is dispatched to you.
                                                            </li>
                                                            <li>
                                                                The test kits are not suitable for return due to health protection or hygiene reasons, as per Article 28(3)(a) of the Consumer Contracts (Information, Cancellation and Additional Charges) Regulations 2013 (“2013 Regs”)
                                                            </li>
                                                            <li>
                                                                It is a government requirement to meet UKAS accreditation to ensure full chain of custody of samples is traceable. Each test Kit is personalised with a unique reference number for the purposes of the testing process and further personalised with unique booking reference numbers due to government requirements for passenger locator forms The kit is therefore exempt from refunds as per Article 28(3)(b).
                                                            </li>
                                                            <li>
                                                                Arrivals Test Packages – If you test positive on your day 2 arrivals test, any remaining tests will be automatically cancelled, and no refund or voucher will be given. This is due to positive samples requiring additional processing to check for variants of COVID-19 as per UK Government regulations.
                                                            </li>
                                                            <li>
                                                                Any request to change the time or date of your booking will be subject to availability.
                                                            </li>
                                                        </ul>
                                                                                                              
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>

                                        <!-- Point 6 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong>PAYMENT</strong>

                                                    <ul class="listing mt-3 mb-3 pl-2">
                                                        <li>
                                                            The price of our services is set out under the “Book a Test” menu option on the website.
                                                        </li>
                                                        <li>
                                                            Payment in full will be made on acceptance of the test Booking.
                                                        </li>                                                                                                              
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 7 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">RIGHT TO VARY THESE TERMS</strong>

                                                    <p>
                                                        We reserve the right to reasonably amend these Terms & Conditions from time to time, as required.
                                                    </p>

                                                </li>
                                            </ul>
                                        </div>


                                         <!-- Point 8 -->
                                         <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">OTHER IMPORTANT TERMS</strong>

                                                    <ul class="listing mt-2 mb-2 pl-2">
                                                        <li>
                                                            We may transfer our rights and obligations under this Agreement to another organisation, but this will not affect your rights or our obligations under these Terms & Conditions.
                                                        </li>
                                                        <li>
                                                            This Agreement is between the person paying for our services and Blackburn Travel Clinic. No other person shall have any rights to enforce any of its terms, whether under the Contracts (Rights of Third Parties) Act 1999 or otherwise.
                                                        </li>
                                                        <li>
                                                            Each of the paragraphs of the Terms operates separately. If any court or relevant authority decides that any of them are unlawful or unenforceable, the remaining paragraphs will remain in full force and effect.
                                                        </li>
                                                        <li>
                                                            You accept that communication with us will be both electronic and on paper. You agree to this means of communication and you acknowledge that all, notices, information, and other communications that we provide to you electronically or hard copy comply with any legal requirement that such communications be in writing. This condition does not affect your statutory rights.
                                                        </li>
                                                        <li>
                                                            If we fail to insist that you perform any of your obligations under the Terms & Conditions, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.
                                                        </li>
                                                        <li>
                                                            Please do not photograph or film on any of our clinics, this is not permitted.
                                                        </li>
                                                        <li>
                                                            Any abusive behaviour to our staff will not be tolerated and we reserve the right to deny access to our testing services should such behaviour be evident.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <!-- Point 9 -->
                                        <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">CUSTOMER SERVICE</strong>

                                                    <ul class="listing mt-2 mb-2 pl-2">
                                                        <li>
                                                            If you have a complaint about any aspect of the Service, please contact us via our Customer Service by emailing: blackburntravelclinic@gmail.com
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                         <!-- Point 10 -->
                                         <div class="mt-4 pb-2">
                                            <ul class="listing">
                                                <li>
                                                    <strong class="mb-3 d-block">GOVERNING LAW</strong>

                                                    <ul class="listing mt-2 mb-2 pl-2">
                                                        <li>
                                                            This Agreement and any dispute or claim (including non-contractual disputes or claims) arising out of or in connection with it or its subject 
                                                            matter or formation shall be governed by and construed in accordance with the law of England and Wales. Each party irrevocably agrees that the 
                                                            courts of England and Wales shall have exclusive jurisdiction to settle any dispute or claim (including non-contractual disputes or claims) 
                                                            arising out of or in connection with this agreement or its subject matter or formation.
                                                        </li>
                                                    </ul>

                                                </li>
                                            </ul>
                                        </div>


                                        <p>
                                            <em>01.03.2021</em>
                                        </p>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ./cms-page-sec -->


        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="/">
                                <img src="/assets/images/site-logo.png" alt="site-logo" class="site-logo" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/" class="mb-md-0 mb-3 d-block">
                            <img src="/assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo"
                                class="site-logo" />
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic –
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                           
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="https://www.facebook.com/BlackburnTravelClinic/" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                         
                            <li class="d-inline-block">
                                <a href="https://twitter.com/blackburntravel" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/preparing-for-your-test" class="d-inline-block">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/after-your-test" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/testimonials" class="d-inline-block">
                                    Reviews
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="/faq" class="d-inline-block">
                                    FAQs
                                </a>
                                </li>
                                <li class="d-block">
                                    <a href="/contact-us" class="d-inline-block">
                                        Contact us
                                    </a>
                                </li>
                        </ul>
                    </div>
                       <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Customer services
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                Monday - Friday (8am - 6.30pm)
                              
                            </li>
                            <li class="d-block">
                              
                                Saturday (9am - 6.30pm)
                            </li>
                            <li class="d-block">
                           
                                Sunday (11am - 6.30pm
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3" style="color: white;">
                            <li class="d-block">
                                <a href="/what-we-offer" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/prices" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/tests-listing" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="/terms-conditions" class="d-inline-block">
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="/privacy-policy" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                          
                            <li class="d-block">
                                <a href="/contact-us" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->


        <!-- custom js -->
        <script src="/assets/scripts/jquery.min.js"></script>
        <script src="/assets/scripts/popper.min.js"></script>
        <script src="/assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="/assets/scripts/slick.js"></script>
        <script src="/assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="/assets/scripts/aos.js"></script>
        <script src="/assets/scripts/main.js"></script>

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>