<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Test | Covid -19 PCR Testing</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon -->
        <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="16x16">

        <!-- bootstrape -->
        <link rel="stylesheet" href="assets/bootstrap-4/bootstrap.min.css">

        <!-- font-awesome -->
        <script src="assets/scripts/font-awesome-5-pro.js"></script>

        <!-- Font Family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        
        <!-- custom -->
        <link rel="stylesheet" href="assets/styles/slick.css">
        <link rel="stylesheet" href="assets/styles/aos.css">
        <link rel="stylesheet" href="assets/styles/main.css">
        <link rel="stylesheet" href="assets/styles/responsive.css">  
    </head>

    <body>

        <!-- .site-header -->
        <header class="site-header">
            <div class="top-bar">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                            <div class="gov-uk">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/gov-uk1.png" alt="gov uk" class="mr-md-2 mr-2" />
                                    <p class="text-white mb-0">
                                        Listed on Government website / GOV.UK
                                    </p>
                                </div>
                            </div>                            
                        </div>
                        <div class="col-xl-6 col-6 d-md-block d-none text-xl-center text-right">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent" />
                        </div>
                        <div class="col-xl-2 col-6 d-xl-block d-none text-lg-right">
                            <a href="tel:01254933033" class="text-white mb-0 location-phone">
                                <i class="fas fa-phone-alt"></i>
                                01254 933033
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-menu">
                <div class="container">
                    <nav class="navbar navbar-expand-xl navbar-light cp-navbar-light w-100 p-0">
                        <a class="navbar-brand cp-navbar-brand" href="/">
                            <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                        </a>
                        <button class="navbar-toggler cp-navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon cp-navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse cp-navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mt-lg-0 mt-3 ml-auto cp-navbar-nav">
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="/">                                        
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="about-us">
                                        About Us
                                    </a>
                                </li>
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Your Test <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Preparing for the test
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                After your test
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item parent-menu">
                                    <a class="nav-link cp-nav-link" href="javascript:void(0)">
                                        Vaccinations <i class="fal fa-angle-down"></i>
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a class="nav-link cp-nav-link" href="diphtheria">
                                                Diphtheria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Cholera
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Yellow Fever
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Hepatitis A
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Hepatitis B
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Japanese Encephalitis
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Malaria
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Meningococcal Disease
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Polio
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Rabies
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Tetanus
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Tick-Borne
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link cp-nav-link" href="#">
                                                Typhoid
                                            </a>
                                        </li>
                                    </ul>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="#">
                                        Price
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="testimonials">
                                        Testimonials
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="faq">
                                        FAQs
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link" href="contact-us">
                                        Contact us
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple-border mr-lg-3 mb-xl-0 mb-3" href="#">
                                        LOGIN
                                    </a>
                                </li> 
                                <li class="nav-item cp-nav-item">
                                    <a class="nav-link cp-nav-link btn-purple mb-xl-0 mb-3" href="tests-listing">
                                        BOOK TEST
                                    </a>
                                </li> 
                            </ul>
                            <ul class="d-xl-none d-block text-center">
                                <li class="nav-item cp-nav-item">
                                    <a href="tel:01254933033" class="nav-link cp-nav-link location-phone">
                                        <i class="fas fa-phone-alt"></i>
                                        01254 933033
                                    </a>
                                </li> 
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h6 class="text-white text-center mb-0">
                                Results by 11am the next day including weekends and Bank Holidays.  
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ./site-header -->

        <main>

            <!-- .book-test-sec -->
            <section class="book-test-sec">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center" data-aos="zoom-in-up">
                            <span class="sub-title">
                                Book your COVID-19 Test
                            </span>
                            <h2>
                                <span class="text-skyblue">
                                    Choosing Your
                                </span>
                                COVID-19 Test
                            </h2>
                        </div>


                        <!-- Tabbing -->
                        <div class="col-12">
                            <div class="tabbing">
                                <ul class="nav nav-pills d-md-flex d-block mb-4" data-aos="zoom-in-up">							
                                    <li class="nav-item">
                                        <div class="nav-link tab-boxes text-center active" data-toggle="pill" href="#tab1">
                                            <img src="assets/images/fly.png" alt="fly" class="mb-4" />
                                            <h6>
                                                I am travelling <strong>FROM</strong> the UK
                                            </h6>
                                            <div class="small-desc">
                                                <p>
                                                    I need a Fit to Fly certificate <br/>                                                
                                                    (excludes Jersey)
                                                </p>
                                            </div>
                                            <a href="#tab1" class="btn-skyblue-border select-btn d-inline-block mt-3">                                            
                                                <span>Select</span>
                                                <i class="fas fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </li>						
                                    <li class="nav-item">
                                        <div class="nav-link tab-boxes text-center" data-toggle="pill" href="#tab2">
                                            <img src="assets/images/landing.png" alt="fly" class="mb-4" />
                                            <h6>
                                                I am arriving <strong>IN</strong> England
                                            </h6>
                                            <div class="small-desc">
                                                <p>
                                                    Reduce quarantine time
                                                </p>
                                                <p>
                                                    Book my Green or Amber Arrivals tests
                                                </p>
                                            </div>
                                            <a href="#tab3" class="btn-skyblue-border select-btn d-inline-block mt-3">
                                                
                                                <span>Select</span>
                                                <i class="fas fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </li>						
                                    <li class="nav-item">
                                        <div class="nav-link tab-boxes text-center" data-toggle="pill" href="#tab3">
                                            <img src="assets/images/landing.png" alt="fly" class="mb-4" />
                                            <h6>
                                                I am <strong>NOT</strong> travelling
                                            </h6>
                                            <div class="small-desc">
                                                <p>
                                                    I just need to be tested <br/>
                                                    (do not use for inbound or outbound travel)
                                                </p>
                                            </div>
                                            <a href="#tab3" class="btn-skyblue-border select-btn d-inline-block mt-3">
                                                <span>Select</span>
                                                <i class="fas fa-check-circle"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>


                                <div class="tab-content mt-4">

                                    <div class="tab-pane container active p-0" id="tab1" data-aos="zoom-in-up">
                                        <div class="row mt-5 pb-5">
                                            <div class="col-12 text-center">
                                                <h4>
                                                    2 tests match your needs:
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test                                                       
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            PCR Fit to Fly Test
                                                        </h6>
                                                        <p>
                                                            Results by 11pm next day*
                                                        </p>
                                                        <p>
                                                            Accepted in most countries - check here 
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <p>
                                                            Suitable for all forms of travel
                                                        </p>
                                                        <p>
                                                            (excludes Jersey)
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£69</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK A PCR
                                                        </a>
                                                    </div> 
                                                </div>
                                            </div>                                            
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name"></div>
                                                    <div class="test-name">
                                                        <h6>
                                                            (Antigen) Lateral Flow Test
                                                        </h6>
                                                        <p>
                                                            Results in 30 mins*
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <p>
                                                            (Antigen) Lateral Flow Tests are NOT as widely accepted as PCR tests
                                                        </p>
                                                        <p>
                                                            Check this test will be accepted by the country you are travelling to here
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£35</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK LATERAL FLOW
                                                        </a>
                                                    </div>  
                                                </div>
                                            </div>  
                                        </div>
                                    </div>

                                    <div class="tab-pane container p-0" id="tab2" data-aos="zoom-in-up">
                                        <div class="row mt-5 pb-5">
                                            <div class="col-12 text-center">
                                                <h4>
                                                    5 tests match your needs:
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test                                                          
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            Green Arrivals Test
                                                        </h6>
                                                        <p>
                                                            For customers arriving from Green list countries 
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            A Single Arrivals PCR Test at a Test Centre
                                                        </h6>
                                                        <p>
                                                            <span class="text-green">Green</span> List Arrivals: Mandatory Day 2 Test 
                                                        </p>
                                                        <p>
                                                            <strong>Results by 11pm the next day*</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£69</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK TEST
                                                        </a>
                                                        <hr>
                                                    </div>                                              
                                                    <div class="sub-package-name">
                                                        <h6 class="mr-3">
                                                            Home Tests are a collection service, you MUST be available at home on your test day for collection of your sample.
                                                            <i class="fas fa-info-circle"></i>
                                                        </h6>
                                                        <p>
                                                            <strong>Results 24hrs AFTER receipt at our laboratory</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£79</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple-border d-inline-block mt-4 mb-2">
                                                            BOOK A HOME TEST
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>                                            
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            Amber Arrivals Test
                                                        </h6>
                                                        <p>
                                                            For customers who are fully vaccinated under the UK vaccination programme only
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            Single Arrivals PCR Test for those who have been fully vaccinated under the UK Government vaccination programme at a Test Centre
                                                        </h6>
                                                        <p>
                                                            <span class="text-green">Amber</span> List Arrivals: Mandatory Day 0-2 Test 
                                                        </p>
                                                        <p>
                                                            (excludes arrivals from France) 
                                                        </p>
                                                        <p>
                                                            <strong>Results by 11pm the next day*</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£69</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK TEST
                                                        </a>
                                                        <hr>
                                                    </div>                                              
                                                    <div class="sub-package-name">
                                                        <h6 class="mr-3">
                                                            Home Tests are a collection service, you MUST be available at home on your test day for collection of your sample.
                                                            <i class="fas fa-info-circle"></i>
                                                        </h6>
                                                        <p>
                                                            <strong>Results 24hrs AFTER receipt at our laboratory</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£79</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple-border d-inline-block mt-4 mb-2">
                                                            BOOK A HOME TEST
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>                                      
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            Amber Arrivals Test Package
                                                        </h6>
                                                        <p>
                                                            For anyone <strong>NOT</strong> fully vaccinated under the UK vaccination programme
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            Our Two PCR Test Package at a Test Centre
                                                        </h6>
                                                        <p>
                                                            <span class="text-green">Amber </span> List Arrivals: Mandatory Day 2 & Day 8 Tests 
                                                        </p>
                                                        <p>
                                                            <strong>Results by 11pm the next day*</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£129</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK TEST
                                                        </a>
                                                        <hr>
                                                    </div>                                              
                                                    <div class="sub-package-name">
                                                        <h6 class="mr-3">
                                                            Home Tests are a collection service, you MUST be available at home on your test day for collection of your sample.
                                                            <i class="fas fa-info-circle"></i>
                                                        </h6>
                                                        <p>
                                                            <strong>Results 24hrs AFTER receipt at our laboratory</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£139</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple-border d-inline-block mt-4 mb-2">
                                                            BOOK A HOME TEST
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>                                      
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            PCR Test to Release Test
                                                        </h6>
                                                        <p>
                                                            <strong>Results by 11pm next day*</strong>>
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            A Single PCR Test to Release Test at a Test Centre
                                                        </h6>
                                                        <p>
                                                            <span class="text-green">Amber </span>List Arrivals: Reduce quarantine by having a test on Day 5 
                                                        </p>
                                                        <p>
                                                            <strong>Results by 11pm the next day*</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£69</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK TEST
                                                        </a>
                                                    </div>     
                                                </div>
                                            </div>                                      
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            Amber Arrivals Test Package with Test To Release
                                                        </h6>
                                                        <p>
                                                            <strong>Results by 11pm next day*</strong>>
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            Our Three PCR Test Package at a Test Centre
                                                        </h6>
                                                        <p>
                                                            <span class="text-green">Amber </span> List Arrivals: Mandatory Day 2 & Day 8 with a Test to Release Test on Day 5 
                                                        </p>
                                                        <p>
                                                            <strong>Results by 11pm the next day*</strong>
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p> 
                                                                <span>£189</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK TEST
                                                        </a>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="tab-pane container p-0" id="tab3" data-aos="zoom-in-up">
                                        <div class="row mt-5 pb-5">
                                            <div class="col-12 text-center">
                                                <h4>
                                                    1 tests match your needs:
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center">
                                            <div class="col-xl-2 col-lg-4 col-md-6">
                                                <div class="test-box">
                                                    <div class="package-name">
                                                        <span class="text-white">
                                                            Gold Standard Test                                                            
                                                        </span>
                                                    </div>
                                                    <div class="test-name">
                                                        <h6>
                                                            PCR Test Only
                                                        </h6>
                                                        <p>
                                                            <strong>Results by 10pm next day*</strong>
                                                        </p>
                                                        <hr>
                                                    </div>                                                    
                                                    <div class="sub-package-name">
                                                        <h6>
                                                            E-mail results confirmation
                                                        </h6>
                                                        <p>
                                                            Not suitable for travel
                                                        </p>
                                                        <div class="price mt-4">
                                                            <p>
                                                                <span>£99</span>
                                                            </p>
                                                        </div>
                                                        <a href="choose-slots" class="btn-purple d-inline-block mt-4 mb-2">
                                                            BOOK A PCR
                                                        </a>
                                                    </div>     
                                                </div>
                                            </div>  
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </section>
            <!-- ./book-test-sec -->

        </main>


        <!-- .site-footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row align-items-center top-footer">
                    <div class="col-lg-3 col-md-3">
                        <div class="footer-logo mb-md-0 mb-3">
                            <a href="/">
                                <img src="assets/images/site-logo.png" alt="site-logo" class="site-logo"/>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <a href="/" class="mb-md-0 mb-3 d-block">
                            <img src="assets/images/trust-pilot-excellent.png" alt="trust-pilot-excellent-logo" class="site-logo"/>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <p class="text-white mb-0">
                            Blackburn Travel Clinic – 
                            <span class="text-green">Rated EXCELLENT</span>
                        </p>
                    </div>
                </div>
                <div class="row footer-menus mt-4">
                    <div class="col-lg-3">
                        <h6 class="text-white">
                            Contact Us
                        </h6>
                        <ul class="contact-info mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                                    6 Preston Old Road, Blackburn, Lancashire, BB2 2SS
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="tel:01254933033" class="d-inline-block">
                                    <i class="fas fa-phone-alt"></i>
                                    01254 933033
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="mailto:youremail@gmail.com" class="d-inline-block">
                                    <i class="fas fa-envelope"></i>
                                    youremail@gmail.com
                                </a>
                            </li>
                        </ul>
                        <ul class="social-icons mb-4">
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a href="#" class="d-inline-block" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Quick Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="about-us" class="d-inline-block">
                                    About Us
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Preparing for your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="testimonials" class="d-inline-block">
                                    Testimonials
                                </a>
                            </li>
                            <liclass="d-block">
                                <a href="faq" class="d-inline-block">
                                    FAQs
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="contact-us" class="d-inline-block">
                                    Contact us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Tests Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    PCR Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Rapid Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    After your test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Your Test
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Covid Test
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <h6 class="text-white">
                            Useful Links
                        </h6>
                        <ul class="menus mt-3 mb-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    What we offer
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Prices
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Book Online
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6">
                        <h6 class="text-white">
                            Support
                        </h6>
                        <ul class="menus mt-3">
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Terms & Conditions 
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Privacy Policy
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Sitemap
                                </a>
                            </li>
                            <li class="d-block">
                                <a href="#" class="d-inline-block">
                                    Get Support
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12 text-center">
                        <div class="copyright">
                            <p class="text-white mb-0">
                                Copyright © 2021, Blackburn Travel Clinic
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ./site-footer -->


        <!-- custom js -->
        <script src="assets/scripts/jquery.min.js"></script>
        <script src="assets/scripts/popper.min.js"></script>
        <script src="assets/bootstrap-4/bootstrap.min.js"></script>
        <script src="assets/scripts/slick.js"></script>
        <script src="assets/scripts/jquery.matchHeight-min.js"></script>
        <script src="assets/scripts/aos.js"></script>
        <script src="assets/scripts/main.js"></script>

        <script>
			AOS.init({
				duration: 1200,
			});
		</script>

    </body>
</html>