@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-size: 15px;
    line-height: 20px;
}
a {
    color: #094496;
}
#toggle_btn i {
    padding: 10px;
}
.login-body {
    background: #094496;
}
.btn-primary {
    background-color: #094496;
    border: 1px solid #094496;
    transition: 0.5s;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary.active, 
.btn-primary:active, 
.open > .dropdown-toggle.btn-primary {
    background-color: #0094CC;
    border: 1px solid #0094CC;
    transition: 0.5s;
}

.header .header-left {
    background: #094496;
}
.sidebar-menu {
    background: #094496;
}
.sidebar {
    background: #094496;
    top: 60px;
}
.sidebar-menu li.active a:before, 
.sidebar-menu li.active a:after {
    border-right: 20px solid #094496;
}

.dash-contetnt .mb-3 i {
    color: #ffffff;
    font-size: 22px;
}
#qrcode {
    width: 120px;
    height: 120px;
    margin-top: 15px;
}
#qrcode img {
    width: 120px;
    height: 120px;
}

.faq-sec textarea {
    height: 300px;
}